.jumbotron > .jumbotron-background-color {
  background-color: #b2ddf4;
}

.navbar a {
    color: #d5ebf6;
}

.navbar-brand-font {
    color: #acdcf4;
    font-weight: 500;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #03213d;
    background-color: #eeeeee;
}

.main-header-custom {
  color: #1D4F68;
  font-weight: 900;
}

.header-custom {
  color: #195370;
  font-weight: bold;
}

.message-header {
  color: #03213d;
  font-weight: bold;
}

.message-success-text {
  color: #03213d;
}
.message-error-text {
  color: #d85d5d;
}

/* ================================ */
/* Center the spinner */
#spinner {
  position: absolute;
  left: 50%;
  top: 120%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: #C9B5B4;
}

#gl_spinner {
  position: absolute;
  left: 50%;
  top: 120%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: #03213d;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
