<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon-32x32.png">

    <title>Guitar lessons in St Albans</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">

      <!-- Custom styles for this template -->
      <link href="/static/css/guitar_lessons.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body style="background-color: #03213d">

    <div id="gl_spinner"> </div>

    <div id="main" class="container">     

      <div class="masthead">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><span class="navbar-brand-font">St Albans Guitar Lessons</span></a>
            </div>

            <ul class="nav nav-justified">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#aboutme">About me</a></li>
              <li><a href="#lessons">Lessons</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </nav>

      </div>

  <!-- Jumbotron -->
      <br />
      <br />
      <div class="jumbotron alert alert-info">
          
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
              <div class="jumbotron" style="background-color: #b2ddf4;">
                <h1 style="color: #03213d;font-weight: 800;">St Albans Guitar Tuition</h1>
                <p class="lead">Guitar Lessons, Aural Lessons, Theory Lessons, Composition Lessons, Jazz Improvisation Lessons, Skype Lessons.</p>
            </div>
          </div>            
        </div>
      </div>

      <!-- rows of columns -->
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
              <h2>Lucien Kaufler</h2>
              <p><img  class="img-rounded centered" alt="Lucien Kaufler in Amsterdam" src="/static/images/amsterdam_scaled.jpg"></img></p>
              <figcaption>At Amsterdam Blue Note club</figcaption>
          </div>            
        </div>
      </div>

      <div  id="aboutme"></div>
      <br />
      <br />
      <div class="row">
        <div class="col-lg-8">
          <h2 class="header-custom">Essential information</h2>
          <p>
            <ul>
              <li><span class="header-custom">Pricing:</span> £24 per hour, £12 per half hour</li>
              <li><span class="header-custom">Styles:</span> Pop, Rock, Jazz, Folk, Funk, R&B, Latin, Blues</li>
              <li><span class="header-custom">Suitability:</span> All ages, beginner to advanced</li>
            </ul>
          </p>

          <br />
          <br />
          <h2 class="header-custom">Bio</h2>

          <p class="text-info"> I am an experienced musician, having performed in many formats, from duo to big band. I have studied with internationally acclaimed musicians such as Jesse Van Ruller and Dick Oatts, which helped me develop an excellent grasp of the skillset required to perform at a high level.</p>
            
          <p class="text-info"> My versatile teaching style allows you to learn at your own pace in order to achieve your musical goals, whatever they may be. Whether you would like to learn to play your favourite songs, develop the skills necessary to play in a band, explore a different musical style or otherwise, I can help you make faster progress.</p>
          
          <div id="lessons"></div>
          <br />
          <br />
          <h2 class="header-custom">Lessons</h2>

          <p>My teaching can offer the following services:
            <ul>
                <li>open and bar chords</li>
                <li>jazz 4 part, 5 part and 6 part chords</li>
                <li>chord substitutions and reharmonisation</li>
                <li>scales</li>
                <li>playing melodies on the guitar (with and without chords underneath)</li>
                <li>right and left hand technique (fingerstyle, rhythm and picking)</li>
                <li>improvisation and ear training</li>
                <li>music theory, music notation and tablature</li>
                <li>guitar as an accompanying instrument (for vocalists, saxophones etc.)</li>
                <li>solo guitar performance, alternating thumb and walking bass line techniques</li>
            </ul>
          </p>

        </div>

        <div  id="contact"></div>
        <div class="col-lg-4">
          <h2 class="header-custom">Contact</h2>

          <p class="text-info">You can give me an initial idea about your requirements so that lessons can be tailored to your needs
            from the very beginning. We can then discuss these further.</p>

             <form id="contact_form" name="contact_form" method="post">
              <div class="form-group">
                <label for="first_name">First name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required="true" maxlength="20">
              </div>
              <div class="form-group">
                <label for="pwd">Last name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required="true" maxlength="30">
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required="true" maxlength="40">
              </div>
              <div class="form-group">
                <label for="note">Note (optional):</label>
                <textarea class="form-control" id="note" name="note" rows="5" maxlength="500"></textarea>
              </div>

              <div class="form-group">
                  <div class="g-recaptcha" data-sitekey="6LeCBSsUAAAAAIiTCwzRM0GmTN5hcJ3LrgBBZpVk"></div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default" id="contact_submit">Submit</button>
              </div>
             </form>

             <br />
             <br />

             <div id="map"></div>

      </div>


      <!-- Site footer -->
      <hr />
      <div class="row text-muted">
        <div class="col-lg-12">
            <p>
              <footer>
                 <p>&copy; Created by <a target="_blank" href="http://www.linkedin.com/in/tamarakaufler">TK</a></p>
              </footer>
            </p>
        </div>
      </div>
      </div>
              
    </div> <!-- /container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
          src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>

        <script src='https://www.google.com/recaptcha/api.js'></script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=YYYYYYYYY&callback=initMap"></script>

        <script src="/static/js/guitar_lessons.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

  </body>
</html>

